body {
    font-family: sans-serif;
    width: 100%;
    margin: 0;
    height: 100%;
    background: #bbb;
}
/* NAV BAR */
.nav-bar {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 25px;
    border-bottom: 2px solid white;
    width: 98%;
    margin: 0 auto;
}
.nav-option {
    font-size: 18px;
    padding: 10px;
    line-height: 32px;
    text-decoration: none;
    color: white;
}
.title {
    font-size: 32px;
}
.active {
    font-weight: bold;
}

/* CONTAINER */
.container {
    width: 100%;
    overflow: hidden;
}
.top-content {
    width: 100%;
    height: 500px;
    position: relative;
    background: darkgray;
}
.info-box {
    bottom: 0;
    right: 0;
    position: absolute;
    text-align: end;
    margin: 10px;
    color: white;
}
.info-title {
    font-size: 42px;
    font-weight: bold;
}
.info-genre, .info-release, .info-actors {
    font-size: 28px;
}
.info-actors a{
    color: lightgrey;
}
.bottom-content {
    border: 1px solid blue;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, auto);
    row-gap: 10px;
}
.bottom-item {
    padding: 5px;
    width: 200px;
    height: 100%;
}
.bottom-item-title {
    font-weight: bold;
    font-size: 18px;
}
.bottom-item-rd {
    font-size: 14px;
}

