<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>APIACTOR</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="nav-bar">
    <a class="nav-option" th:href="@{/actors}">Actors</a>
    <a class="title nav-option active" th:href="@{/}">APIACTOR</a>
    <a class="nav-option" th:href="@{/movies}">Movies</a>
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Date of birth</th>
        <th>URL to IMDB</th>
        <th>Movies</th>
    </tr>
    <tr th:each="actor: ${actors}">
        <td><a th:text="${actor.firstName} + ' ' + ${actor.lastName}" th:href="@{/actor/{id}(id=${actor.id})}"></a></td>
        <td th:text="${actor.DoB}"></td>
        <td th:text="${actor.urlToImdb}"></td>
        <td th:text="${actor.movies}"></td>
    </tr>
</table>

</body>
</html>